%h4 Instructions:

%h5 Using this

%p Add keywords either individually or via the multiple keywords option. Once you are done, run the following:
%pre rake scraper:get_all
%p The rake task will run and in between each keyword it will pause for a random number of seconds. Please note that if you do this too much Google may temp-ban you!

%h5 Color coding

%p Allintitle counts that are low competition (1-1000 results) are <span class='#{color_for_allintitle(1000)}'>#{color_for_allintitle(1000)}</span>, counts with moderate competition (1001-2000 results) are <span class='#{color_for_allintitle(2000)}'>#{color_for_allintitle(2000)}</span> and those with high competition (2001+ results) are <span class='#{color_for_allintitle(2001)}'>#{color_for_allintitle(2001)}</span>.

%p= link_to 'Home', '/', class: 'btn btn-default', role: :button