<h3>Listing keywords</h3>

<table>
  <tr>
    <th>Word</th>
    <th>Allintitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keywords.each do |keyword| %>
  <tr>
    <td><%= keyword.word %></td>
    <td class="<%= color_for_allintitle(keyword.allintitle) %>"><%= keyword.allintitle %></td>
    <td><%= link_to 'Show', keyword %></td>
    <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
    <td><%= link_to 'Destroy', keyword, method: :delete, data: {confirm: 'Are you sure?'} %></td>
<<<<<<< Updated upstream
    <td><%= link_to 'Reset Allintitle', reset_allintitle_keyword_path(keyword), method: :post, data: {confirm: 'Are you sure?'} %></td>
=======
>>>>>>> Stashed changes
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyword', new_keyword_path %>
