%table.table.table-striped
  %tr
    %th Word
    %th Previous Count
    %th Current Count
    %th Change
    %th Days Since Scrape
    %th
  - @keywords.each do |keyword|
    %tr
      %td= keyword.word
      - if keyword.title_results.count > 0
        %td{class: color_for_allintitle(keyword.previous_allintitle.google_count)}= keyword.previous_allintitle.google_count
        %td{class: color_for_allintitle(keyword.current_allintitle.google_count)}= keyword.current_allintitle.google_count
        %td{class: color_for_change(keyword.previous_allintitle.google_count,keyword.current_allintitle.google_count)}= change(keyword.previous_allintitle.google_count,keyword.current_allintitle.google_count)
        %td= keyword.days_since_last_scrape
      - else
        %td{colspan: 4} (no data)
      %td
        .btn-group{role: :group}
          = link_to 'Show', keyword, class: 'btn btn-sm btn-primary', role: :button
          = link_to 'Reset Allintitle', reset_allintitle_keyword_path(keyword), method: :post, data: {confirm: 'Are you sure? This will annihilate the Allintitle history for this Keyword!'}, class: 'btn btn-sm btn-warning', role: :button
          = link_to 'Destroy', keyword, method: :delete, data: {confirm: 'Are you sure you want to destroy this? It will remove the Keyword and the entire Allintitle history associated with it!'}, class: 'btn btn-sm btn-danger', role: :button

%p= link_to 'New Keyword', new_keyword_path, class: 'btn btn-success', role: :button