
#allintitle-chart.panel

:javascript
  $(function(){
    $('#allintitle-chart').highcharts({
      title: {
        text: 'Allintitle History',
        x: -20
      },
      xAxis: {
        dateTimeLabelFormats: { // don't display the dummy year
            day: '%e. %b'
        },
        type: 'datetime'
      },
      yAxis: {
        title: {
        text: 'Result Count'
        }
      },
      series: [{
        name: "#{@keyword.word.gsub("'","\'")}",
        data: #{@keyword.allintitle_list_with_date.to_s.gsub('"','')},
        regression: #{@keyword.title_results.count > 2 ? 'true' : 'false'},
        regressionSettings: {
            type: 'linear',
            color:  '#1111cc',
            loessSmooth: 0
        }
      }]
    });
  });

= title_results_table

%p= link_to 'Back', keywords_path, class: 'btn btn-default', role: :button