<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @keyword.word %>
</p>

<p>
  <b>Allintitle History:</b>
</p>

<%= title_results_table %>  
<br />

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
