
%h5
  %span{style: 'font-size: 1.2em'}= link_to(star_for_favorite(@keyword.favorite), 'javascript:void(0)', id: "favorite_#{@keyword.id}", class: 'favorite_link', :'data-favorite-link' => switch_favorite_keyword_path(@keyword), :'data-keyword-index' => true)
  %span{class: color_for_change(@keyword.r_value)} Linear Regression Slope: #{number_with_precision(@keyword.r_value, precision: 2)}


#allintitle-chart.panel

:javascript
  $(function(){
    $('#allintitle-chart').highcharts({
      title: {
        text: 'Allintitle History',
        x: -20
      },
      xAxis: {
        dateTimeLabelFormats: { // don't display the dummy year
            day: '%e. %b'
        },
        type: 'datetime'
      },
      yAxis: {
        title: {
        text: 'Result Count'
        }
      },
      series: [{
        name: "#{@keyword.word.gsub("'","\'")}",
        data: #{@keyword.allintitle_list_with_date.to_s.gsub('"','')},
        regression: #{@keyword.title_results.count > 2 ? 'true' : 'false'},
        regressionSettings: {
            type: 'linear',
            color:  '#1111cc',
            loessSmooth: 0
        }
      }]
    });
  });

= will_paginate(@title_results, renderer: BootstrapPagination::Rails)
= title_results_table
= will_paginate(@title_results, renderer: BootstrapPagination::Rails)

%p= link_to 'Back', keywords_path, class: 'btn btn-default', role: :button