<!DOCTYPE html>
<html>
<head>
  <title>Google SEO Allintitle Scraper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
</head>
<body>

<h2>Google SEO Allintitle Scraper</h2>

<% if flash[:notice] %>
  <p><em><%= flash[:notice] %></em></p>
<% end %>
<%= yield %>

 | <%= link_to 'Add multiple keywords', new_keyword_set_path %> | <%= link_to 'Get CSV output', excel_output_keywords_path %> | <%= link_to 'Instructions', instructions_path %>


</body>
</html>
